.nav-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 20px;
    border: 1px solid lightgray;
    background: white;
    box-shadow: 2px 2px 2px 1px lightgray;
    position: sticky;
    top: 0;
}
.nav-leftside{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.nav-logo{
    width: 70px;
}
.nav-appname{
    background: linear-gradient(to right, navy, lightblue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.nav-rightside{
    display: flex;
    column-gap: 10px;
}
.categories{
    color: lightseagreen;
    letter-spacing: 5px;
}